body {
  background-color: beige;
  margin: 30px;
  padding: 10px;
}
h1 {
  color: palevioletred;
}
.text {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: palevioletred;
}
